:root {
    --PrimaryBackgroundColor: #131416;
    --SecondaryBackgroundColor: #27282c;
    --TertiaryBackgroundColor: #37383c;
    --PrimaryColor: #b3265c;
    --SecondaryColor: #ffffff;
    --PrimaryElementsColor: #0cd4db;
    --HeaderHeight: 50px;
    --FooterHeight: 25px;
    --DarkGrey: #727272;
    --HoverLightGrey: #ebebeb;
    --BoxShadow:    12px 12px 16px 0 #00000040,
                    -8px -8px 12px -10px #ffffff4d;
    --InBoxShadox:  inset 5px 5px 10px #222326,
                    inset -5px -5px 10px #2c2d32;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SecondaryColor);
}

a {
    text-decoration: none;
}

/* HELPERS */

.box-shadow {
    box-shadow: 0px 0px 4px #525252;
}

.card {
    border-radius: 8px;
    box-shadow:  5px 5px 10px #121214;
    margin: 0 25px;
    margin-top: 15px;
    overflow: hidden;
}

.btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    box-shadow:  3px 3px 1px #303134,
                -3px -3px 10px #3e3f44;
    background-color: var(--PrimaryColor);
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: var(--SecondaryBackgroundColor);
    box-shadow:  var(--InBoxShadox);
}

.cancel-btn {
    background-color: var(--SecondaryBackgroundColor);
}

.flex-hw-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER COMPONENT */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--HeaderHeight);
    position: relative;
    background-color: var(--SecondaryBackgroundColor);
    z-index: 10;
}

.header-left, .header-right {
    height: 100%;
    padding: 0 25px;
}

.header-left, .header-right_login, .header-right {
    display: flex;
    align-items: center;
    transition: background-color 200ms ease-in-out;
}

.header-right_login:hover {
    background-color: var(--TertiaryBackgroundColor);
}

.header-left_text {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 900;
    color: var(--PrimaryColor);
}

.header-right_login {
    height: calc(var(--HeaderHeight) - 10px);
    background-color: var(--SecondaryBackgroundColor);
    border-radius: 50%;
    width: calc(var(--HeaderHeight) - 10px);
    box-shadow:  5px 5px 10px #1b1c1e,
             -5px -5px 10px #33343a;
}

.header-left_svg, .header-right_login-svg {
    display: block;
    margin: 0 auto;
    height: 70%;
}

.header-right_login-svg {
    transition: transform 200ms ease-in-out;
}

/* MAIN COMPONENT */

.Main {
    display: flex;
    height: calc(100vh - (var(--HeaderHeight) + var(--FooterHeight)));
}

.aside {
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: var(--SecondaryBackgroundColor);
    z-index: 1;
}

.aside-links{
    color: var(--SecondaryColor);
    font-weight: 700;
    font-size: 16px;
    height: 60px;
    transition: background-color 200ms ease-in-out;
}

 .aside-active, .aside-links:hover {
     background-color: var(--PrimaryBackgroundColor);
     box-shadow: var(--InBoxShadow);
}

.aside-svg-container {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--SecondaryBackgroundColor);
    box-shadow:  5px 5px 10px #1b1c1e,
    -5px -5px 10px #33343a;
}

.aside-links:hover .aside-svg-container {
    box-shadow: none;
    background-color: transparent;
}

.aside-svg {
    display: block;
    height: 20px;
}

.main-content {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--PrimaryBackgroundColor);
    /* padding: 15px 10px; */
}

.Goal {
    display: flex;
    justify-content: space-between;
    background-color: var(--TertiaryBackgroundColor);
    border-radius: 8px;
    padding: 8px;
    color: var(--SecondaryColor);
}

.goal-left, .goal-right {
    display: flex;
    align-items: center;
}

.goal-icon {
    font-size: 26px;
    box-shadow: var(--InBoxShadox);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.goal-frequency {
    margin-left: 20px;
    font-size: 16px;
    margin-right: 25px;
}

.goal-frequency sub {
    font-size: 10px;
    margin-left: 5px;
}

.goal-details, .goal-status {
    font-size: 14px;
}

.goal-right-statusContent {
    position: relative;
    margin: 8px 20px;
}

.goal-status {
    text-align: center;
    margin-bottom: 5px;
}

.goal-StatusBar1 {
    width: 112px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
}

.goal-StatusBar2 {
    height: 10px;
    background: linear-gradient(109.5deg, rgb(72, 203, 217) 11.2%, rgb(135, 218, 149) 91.1%);
    border-radius: 25px;
}

/* MAIN FROM DETAILS */

.FormDetails {
    background-color: var(--TertiaryBackgroundColor);
    padding: 15px 25px;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 12px;
}

input, select {
    width: 100%;
    border-radius: 4px;
    color: rgb(206, 206, 206);
    border: none;
    padding: 8px 15px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: var(--SecondaryBackgroundColor);
    box-shadow: var(--InBoxShadox);
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:focus, select:focus {
    outline: none;
}

.frequency-inputs {
    display: flex;
}

.frequency-inputs input {
    margin-right: 12px;
}

.form-details__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.form-details__btns button {
    width: 150px;
}

/* MODAL */

.Modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 100;
}

/* FOOTER COMPONENT */

.Footer {
    height: var(--FooterHeight);
    text-align: right;
    font-size: 14px;
    padding-right: 25px;
    background-color: var(--SecondaryBackgroundColor);
    position: relative;
    z-index: 10;
}

.footer-coder {
    line-height: var(--FooterHeight);
}

.Footer, .Footer a {
    color: #c2c2c2;
}

.Footer a:hover {
    color: #969696;
}